//  ---------------------------------------------------------------------------
//
//  Typography
//	Headings, body text, lists, code, and more 
//	for a versatile and durable typography system.
//
//	It is IMPORTANT to only apply margins on LEFT and BOTTOM of elements.
//	The method of single direction margins helps keeping modules 
//	location-independent.
//
//  ---------------------------------------------------------------------------



//  = ACCESSIBILITY
//  ---------------------------------------------------------------------------
	
	.a11y
	{
		display:none;
	}



//  = VERTICAL RHYTHM
//  ---------------------------------------------------------------------------

	h1,h2,h3,h4,h5,h6,hgroup,
	ul,ol,dd,
	p,figure, blockquote,
	pre,table,fieldset,hr
	{
		@include rem(margin, 0 0 $bodyLineHeight);
	}



//  = BODY TEXT
//  ---------------------------------------------------------------------------
	

	html
	{
		font-family:$baseFontFamily;
		font-size:$htmlFontSize;
		line-height:$htmlLineHeight;

		@include at-breakpoint($medium-width)
		{
			font-size:68.5%;
		}

		@include at-breakpoint($large-width)
		{
			font-size:75.5%;
		}
	}

	body
	{
		@include setType($bodyFontSize, $bodyLineHeight);
		font-weight:$normalFontWeight;
		background-color:$bodyBackground;
		color:$textColor;
		text-rendering:optimizeLegibility;
	}


	p
	{
		small 
		{
			font-size:$bodyFontSize - 2;
		}
	}

	pre
	{
		// undo reset
		word-wrap:normal;
	}

	::-webkit-selection 
	{
	    background-color:$primaryAccent;
	    color:$white;
	}

	::-moz-selection 
	{
	    background-color:$primaryAccent;
	    color:$white;
	}

	::selection 
	{
	    background-color:$primaryAccent;
	    color:$white;
	}

	strong
	{
		font-weight:$boldFontWeight;
	}

	.blockquote
	{
		@include rem(margin, 0 0 $doubleSpace);
		@include rem(padding, $doubleSpace);
		background:$whiteSmoke;
		border:$defaultBorder;
		border-top-width:1px;
		border-bottom-width:1px;
		font-style:italic;

		:last-child
		{
			margin-bottom:0;
		}
	
		@include with-grid-settings($padding:15px)
		{
			@include bleed;
		}

		@include at-breakpoint($medium-width)
		{
			@include with-grid-settings($padding:25px)
			{
				@include bleed;
			}
		}

		@include at-breakpoint($large-width)
		{
			@include with-grid-settings($padding:80px)
			{
				@include bleed;
				position:relative;

				&::before
				{
					content:"\"";
					position:absolute;
					@include rem(top, $doubleSpace);
					@include rem(left, $singleSpace);
					@include rem(font-size, 8.5);
					line-height:.4;
					color:$grayVeryLight;
				}
			}
		}
	}

	.blockquote__source 
	{
		font-style:normal;
	}



//  = LINKS
//  ---------------------------------------------------------------------------
	
	a
	{
		padding:0 1px;

		text-decoration:none;
		color:$linkColor;
		cursor:pointer;

		@include transition(all);
		@include transition-duration(.1s);
	}

	.no-touch a:hover,
	.touch a:active
	{
		background-color:$linkColor;
		text-decoration:none;
		color:$white;
	}
	


//  = LISTS
//  ---------------------------------------------------------------------------
	
	ul, ol
	{
		@include rem(margin, 0 0 $doubleSpace 1.9);

		@include at-breakpoint($large-width)
		{
			margin-left:0;

			ul, ol
			{
				@include rem(margin-left, 1.9);				
			}
		}

		padding:0;
		list-style-type:none;
	}

	dt
	{
		font-weight:bold;
	}



//  = HEADINGS
//  ---------------------------------------------------------------------------
	
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6
	{
		font-family:$headingsFontFamily;
		font-weight:$headingsFontWeight;
		color:$headingsColor;

		small
		{
			display:block;
			font-family:$baseFontFamily;
			font-size:60%;
			color:$gray;
		}
	}

	h1, .h1 { @include setType($h1Size, $h1LineHeight); }
	h2, .h2 { @include setType($h2Size, $h2LineHeight); }
	h3, .h3 { @include setType($h3Size, $h3LineHeight); }
	h4, .h4 { @include setType($h5Size, $h5LineHeight); }
	h5, .h5 { @include setType($h5Size, $h5LineHeight); }
	h6, .h6 { @include setType($h6Size, $h6LineHeight); }

	.post
	{
		h2, h3, h4, h5, h6,
		.h2, .h3, .h4, .h5, .h6
		{
			@include rem(margin-top, $doubleSpace * 2);
		}
	}


