/* Home Page */

.intro,
.service,
.feedback,
.discover,
.define,
.develop,
.deliver,
.verify,
.hire {
    grid-column: 2 / 11;

    @media (min-width: #{map-get($grid-breakpoints, "lg")}) {
        grid-column: 3 / 10
    }

    @media (min-width: #{map-get($grid-breakpoints, "xl")}) {
        grid-column: 4 / 10;
    }

    @media (min-width: #{map-get($grid-breakpoints, "xxl")}) {
        grid-column: 3 / 10;
    }
}

.creed {
    grid-column: 6 / 12;
    grid-row: 2 / 3;
    z-index: 1;
    align-self: center;
    position: relative;
    margin: $space60 0;
    padding: $space60;
    background: $brand-red;
    font-size: 1.8em;
    font-weight: 700;
    color:#fff;
    transform: skew(7deg);

    &:after {
        content: " ";
        position: absolute;
        top: .5em;
        left: .5em;
        width: 100%;
        height: 100%;
        border: 4px solid #000;
        // animation: floating 15s infinite alternate;
    }

    > p {
        margin: 0;
        transform: skew(-7deg);
    }
}

.portrait {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
}

@keyframes floating {
    0% { transform: translate3d(.2em, .2em, 0); }
    100% { transform: translate3d(-.2em, -.2em, 0); }
}

@keyframes wiggle {
    0% { transform: translateX(0); }
    100% { transform: translateX(40px); }
}
