//  ---------------------------------------------------------------------------
//
//  Clients module, for work showcase
//
//  ---------------------------------------------------------------------------

	.clients
	{
		@extend .cf;
	}

	.l-clients__item
	{
		@include rem(margin-bottom, $doubleSpace);
		@include span-columns(2, $small-cols);
		@include nth-omega(2n);
		opacity:.4;
		@include transition(opacity .2s linear);

		@include at-breakpoint($large-width)
		{
			&:nth-child(2n)
			{
				@include remove-omega($large-cols);
			}

			@include span-columns(1, 3);
			@include nth-omega(3n);
		}
	}

	.clients__logo
	{
		display:block;
		@include rem(max-height, $doubleSpace * 4);
		margin:0 auto;
		@include filter(grayscale(100%));
		@include transition(filter .2s linear);
	}

	.touch .l-clients__item:active,
	.no-touch .l-clients__item:hover
	{
		opacity:1;
	}

	.touch .clients__logo:active,
	.no-touch .clients__logo:hover
	{
		@include filter(grayscale(0%));
	}
	




	