//  ---------------------------------------------------------------------------
//
//  Defines the layout for the footer section
//
//  ---------------------------------------------------------------------------

	
	.footer
	{
		.grid__inner
		{
			@include rem(padding-bottom, $singleSpace * 2);
			@include rem(font-size, $smallFontSize);

			@include at-breakpoint($large-width)
			{
				@include rem(padding-bottom, $singleSpace * 3);
			}
		}

		.about-me__title
		{
			@include rem(margin-bottom, $doubleSpace);
		}
	}

	.about-me
	{
		@extend .cf;
	}


	.about-me__title
	{
		@include at-breakpoint($large-width)
		{
			text-align:left;
		}
	}

	.about-me__img
	{
		@include rem(width, $doubleSpace * 5);
		@include rem(margin, 0 auto $doubleSpace);
		border:5px solid lighten($blueVeryDark, 10%);

		> img { display: block; }

		@include at-breakpoint($large-width)
		{
			float:left;
			@include rem(margin-right, $doubleSpace);
		}
	}

	.about-me__bd
	{
		@include at-breakpoint($large-width)
		{
			overflow:hidden;
			_overflow:visible;
			zoom:1;
		}
	}

	.about-me__info
	{
		@include at-breakpoint($large-width)
		{
			@include rem(margin-bottom, $singleSpace);
		}
	}

	.social
	{
		text-align:center;

		@include at-breakpoint($large-width)
		{
			text-align:left;
		}
	}

	.social__items
	{
		display:inline-block;
	}

	.social__item
	{
		@include rem(margin-right, $singleSpace);

		&:last-child
		{
			margin-right:0;
		}
	}

	.social__link-wrapper
	{
		display:inline-block;
	}

	.copyright
	{
		margin:0;
		color:lighten($blueVeryDark, 10%);
		text-align:center;
	}

	