//  ---------------------------------------------------------------------------
//
//  Defines the layout for the header section
//
//  ---------------------------------------------------------------------------

	
	.l-header
	{
		border:$defaultBorder;
		@include rem(border-bottom-width, $borderThin);

		.grid 
		{
			border-color:transparent;
		}

		.grid__inner
		{
			@include rem(padding-top, $doubleSpace);
			@include rem(padding-bottom, $doubleSpace);
		}
	}

	.home .l-header
	{
		border-color:transparent;
	}



//  ---------------------------------------------------------------------------
//
//  Defines the style for the header section
//
//  ---------------------------------------------------------------------------

	.logo
	{
		@include rem(width, $singleSpace * 5);
		@include rem(height, $singleSpace * 5);
		background:url(../img/logo.svg) top left no-repeat transparent;
		@include background-size(100% 100%);
		vertical-align:middle;
	}

	.nav-main
	{
		@extend .cf;
		font-family:$serifFontFamily;
		@include rem(font-size, $h3Size);
	}

	.nav-main__home,
	.touch .nav-main__home:active,
	.no-touch .nav-main__home:hover
	{
		border:0 none;
	}

	.nav-main__home
	{
		float:left;
	}

	.nav-main__items
	{
		float:right;
		@include rem(height, $singleSpace * 5);
		margin:0;
		@include rem(line-height, $singleSpace * 5);
	}

	.nav-main__item
	{
		display:inline-block;
		@include rem(margin-left, $doubleSpace);
		line-height:normal;
		vertical-align:middle;

		&:first-child
		{
			margin-left:0;
		}
	}

	.nav-main__link--active,
	.touch .nav-main__link--active:active,
	.no-touch .nav-main__link--active:hover
	{
		border:transparent;
		color:$blueVeryDark;
		cursor:default;
	}













