//  ---------------------------------------------------------------------------
//
//  Hero module for sections with strong emphasis
//
//  ---------------------------------------------------------------------------

	
	.hero
	{
		background:$blueVeryDark;
		color:$white;

		.grid 
		{
			border-color:transparent;
		}

		.subtagline
		{
			margin-bottom:0;
		}
	}

