//  ---------------------------------------------------------------------------
//
//  Defines the shared styles for sections
//
//  ---------------------------------------------------------------------------

	
//	= ALTERNATIVE SECTION
//  ---------------------------------------------------------------------------

	.section--alt
	{
		background:$blueVeryDark;
		color:hsl(hue($blueVeryDark), 15%, 75%);
		@include rem(padding-top, $singleSpace * 3);

		@include at-breakpoint($large-width)
		{
			@include rem(padding-top, $singleSpace * 5);
		}

		.grid 
		{
			border-color:transparent;
		}

		// .grid__inner
		// {
		// 	padding-top:0;
		// 	padding-bottom:0;
		// }

		.subtagline
		{
			margin-bottom:0;
			@include rem(padding-bottom, $singleSpace * 3);
			color:hsl(hue($blueVeryDark), 15%, 75%);

			@include at-breakpoint($large-width)
			{
				@include rem(padding-bottom, $singleSpace * 5);
			}
		}
	}

	.touch .section--alt,
	.no-touch .section--alt
	{
		a
		{
			border-bottom-color:lighten($blueVeryDark, 10%);
		}
	}

	.touch .section--alt a:active,
	.no-touch .section--alt a:hover
	{
		border-bottom-color:$linkColor;
	}