//  ---------------------------------------------------------------------------
//
//  SLIDER
//	
//	Horizontal Slider with native scrolling. 
//
//	*IMPORTANT*
//	You have to specify, how many images are in the slider at the bottom of
//	this sass file. More instructions are at the bottom
//
//  ---------------------------------------------------------------------------



//	= COLORS
//  ---------------------------------------------------------------------------

	$baseColor:			$white;
	$borderColor: 		#e9e0d3;


//	= BREAKPOINTS
//  ---------------------------------------------------------------------------

	$sliderMedium:			48em;
	$sliderLarge: 			$large-width;
	$sliderHuge: 			$huge-width;
	$sliderGiant: 			$giant-width;

//	Special case to make the slider behave better on 1024px
	$from-huge-width: 	64.0625em; // 1025px


 
//	Browser Resets
//  ---------------------------------------------------------------------------
	.slider-container a:active,
	.slider a:active,
	.slider-container a:focus,
	.slider a:focus
	{
		outline: none;
	}

	.slider-container
	{
		position:relative;
		overflow:hidden;
		zoom:1;

		@include rem(padding-top, $singleSpace * 3);

		@include at-breakpoint($large-width)
		{
			@include rem(padding-top, $singleSpace * 5);
		}

		@include at-breakpoint($giant-width)
		{
			&:hover
			{
				.slider__controls
				{
					.slider__prev
					{
						opacity: 0;
						@include transform(rotateZ(90deg));
						pointer-events:none;
						cursor:default;
					}

					.slider__next
					{
						opacity: 0;
						@include transform(rotateZ(-90deg));
						pointer-events:none;
						cursor:default;
					}
				}
			}
		}
	}

	.slides,
	.slider__controls 
	{
		margin: 0; 
		padding: 0; 
		list-style: none;
	} 



//	Slider
//  ---------------------------------------------------------------------------
	.slider 
	{
		@include rem(padding, 0 $r-grid-padding $singleSpace * 3);

		@include at-breakpoint($large-width)
		{
			@include rem(padding, 0 $r-grid-padding $singleSpace * 5);
		}

		overflow-x:scroll;
		-webkit-overflow-scrolling:touch;

		&::-webkit-scrollbar
		{
	    	display: none; 
		}

		// Hides the scrollbar.
		-ms-overflow-style: none;
		
		// Prevents Metro from swiping to the next tab or app.
		-ms-scroll-chaining: none;
	}

	.slides
	{
		@extend .cf;
	}

	.slide__img
	{
		display: block;
	}


	
//	= SLIDER CONTROLS
//  ---------------------------------------------------------------------------

	.slider__controls
	{
		*height: 0;
		
		li 
		{
			padding:0;
			border:0;
		}
	}
		
	.slider__next,
	.slider__prev
	{
		display: block;
		position: absolute;
		@include rem(width, $doubleSpace * 2);
		@include rem(height, $doubleSpace * 2);
		top: 50%;
		@include rem(margin-top, - $doubleSpace - .5);
		z-index:10;
		cursor: pointer;
		
		@include setType($doubleSpace, $doubleSpace * 2 - .5);
		text-align:center;

		color:$gold;
		background:$white;
		background:rgba($white, .95);
		border:5px solid lighten($blueVeryDark, 10%);
		zoom:1;

		opacity:0;

		@include box-shadow(0 2px 3px rgba(0, 0, 0, .25));
		@include transition(opacity .2s ease-in-out, border-color .2s ease-in-out, transform .2s ease-in-out);
		
		&:hover
		{
			
			background:$white;
			border-color:$gold;
	  		zoom:1;
		}

		// Reset line height on font-awesome icons
		.fa {
			line-height: inherit;
		}
	}

	.slider__next
	{
		@include rem(right, $r-grid-padding);

		@include transform-origin(150% 50% 0);
		@include transform(rotateZ(-90deg));
	}

	.slider__prev
	{
		@include rem(left, $r-grid-padding);

		@include transform-origin(-150% 50% 0);
		@include transform(rotateZ(90deg));
	}

//	HOVER STYLES OF SLIDER CONTROLS
	.slider-container:hover
	{
		.slider__next
		{
			opacity:1;
			@include transform(rotateZ(0));
		}

		.slider__prev
		{
			opacity:1;
			@include transform(rotateZ(0));
		}

		.slider__controls--is-start 
		{
			.slider__prev
			{
				opacity: 0;
				@include transform(rotateZ(90deg));
				pointer-events:none;
				cursor:default;
			}
		}

		.slider__controls--is-end 
		{
			.slider__next
			{
				opacity: 0;
				@include transform(rotateZ(-90deg));
				pointer-events:none;
				cursor:default;
			}
		}
	}



//	HIDE SLIDER CONTROLS ON TOUCHSCREENS
	.touch .slider__next,
	.touch .slider__prev
	{
		display:none;
	}



//	THIS MIXIN GENERATES THE CONTAINERS FOR THE SLIDER BASED ON HOW MANY IMAGES 
//	YOU WANT IN THE SLIDER. DEFAULTS TO THREE. PUT IN N FOR AS MANY IMAGES AS 
//	YOU NEED. CLASSES, THAT GET GENERATED ARE NAMED LIKE slides--contains-n,
//	HOWEVER THE PREFIX CLASS NAME CAN ALSO BE GIVEN AS A SECOND PARAMETER
//  ---------------------------------------------------------------------------
	@include slider-items(3, "slides--contains");


	.slides--contains-3
	{
		@include at-breakpoint($sliderMedium)
		{
			width:140%;
		}
		
		@include at-breakpoint($sliderHuge)
		{
			width:225%;
		}
		
		@include at-breakpoint($sliderGiant)
		{
			width:100%;
		}
	}


