//  ---------------------------------------------------------------------------
//	
//	The tagline module
//
//  ---------------------------------------------------------------------------	



//	= COLORS
//  ---------------------------------------------------------------------------

	$taglineColor:			$blueVeryDark;
	$taglineAltColor:		$white;
	$subtaglineColor:		$blueLight;



//  = PANEL
//  ---------------------------------------------------------------------------

	.tagline,
	.subtagline
	{
		font-family:$serifFontFamily;
		text-align:center;
	}

	.tagline 
	{
		@include rem(margin-bottom, $singleSpace);
		@include rem(font-size, $baseLineHeight * 6);
		line-height:1;
		font-weight:bold;
		color:$taglineColor;
	}

	.tagline--alt
	{
		color:$taglineAltColor;
	}

	.subtagline
	{
		@include rem(font-size, $h2Size);
		line-height:1.2;
		color:$subtaglineColor;

		@include at-breakpoint($large-width)
		{
			line-height:1.6;
		}
	}