<div class="l-footer">
  <footer class="meta-info">
    <ul class="nav social">
      <li><a class="btn" href="http://twitter.com/xon1c" title="me on twitter">twitter</a></li>
      <li><a class="btn" href="http://dribbble.com/xon1c" title="me on dribbble">dribbble</a></li>
      <li><a class="btn" href="http://500px.com/xon1c" title="me on 500px">500px</a></li>
      <li><a class="btn" href="https://xing.com/profile/Thomas_Naegele8" title="me on xing">xing</a></li>
      <li><a class="btn" href="https://github/xonic" title="me on github">github</a></li>
    </ul>
    <p class="copyright">© 2014 · Thomas Nägele</p>
  </footer>
</div>
