<footer class="section--alt footer">

  <div class="grid">

    <div class="grid__inner">

      <h1 class="a11y">About Me</h1>

      <section class="about-me">

        <h1 class="subtagline about-me__title">Thomas Nägele</h1>

        <div class="about-me__img">
          <img src="/img/tom.jpg">
        </div>

        <div class="about-me__bd">
          <p class="about-me__info">
            Designer &amp; Developer, good at building device-independent sites. I'm all into clean markup and modular, scalable CSS. Also, I'm quite a nice guy and fun to work with. Oh, and I love chess. <a href="http://www.chess.com/members/view/xon1c#games" title="Play online against me">Challenge me</a>&nbsp;:)
          </p>

          <div class="social">
            <ul class="nav">
              <li class="social__item"><div class="social__link-wrapper"><i class="fa fa-twitter"></i>&nbsp;<a href="http://twitter.com/xon1c" title="@xon1c">Twitter</a></div></li>
              <li class="social__item"><div class="social__link-wrapper"><i class="fa fa-dribbble"></i>&nbsp;<a href="http://dribbble.com/xon1c" title="xon1c">Dribbble</a></div></li>
              <li class="social__item"><div class="social__link-wrapper"><i class="fa fa-instagram"></i>&nbsp;<a href="https://instagram.com/xon1c" title="xon1c">Instagram</a></div></li>
              <li class="social__item"><div class="social__link-wrapper"><i class="fa fa-github"></i>&nbsp;<a href="https://github/xonic" title="xonic">Github</a></div></li>
              <li class="social__item"><div class="social__link-wrapper"><i class="fa fa-xing"></i>&nbsp;<a href="https://xing.com/profile/Thomas_Naegele8" title="My profile">Xing</a></div></li>
            </ul>
          </div>
        </div>
      </section>

      <p class="copyright">© {{ site.time | date: '%Y' }} · Thomas Nägele</p>
    </div>
  </div>
</footer>
