<header class="l-header">
  
  <div class="grid">

    <div class="grid__inner">

      <h1 class="a11y">{{ site.name }}</h1>
      
      <nav class="nav-main">

        <h1 class="a11y">Main Navigation</h1>

        <a href="/" class="nav-main__home">
          <img class="logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="xon1c's logo">
        </a>

        <ul class="nav-main__items">

          {% for link in site.navigation %}

            {% assign current = nil %}
          
            {% if page.url == link.real_url %}

              {% assign current = 'nav-main__link--active' %}
            
            {% endif %}

            <li class="nav-main__item">
              <a class="nav-main__link {{ current }}" href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>