<header class="l-header">
  
  <h1 class="a11y">{{ site.name }}</h1>
  
  <a href="/" class="branding">
    <img class="logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="xon1c's logo">
  </a>
  {% unless page.layout == 'front' %}
    <nav>
      <ul>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign current = 'current' %}
          {% endif %}

          <li>
            <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endunless %}
</header>