<!-- RequireJS -->
<script src="{{ page.relative }}js/require.js"></script>
<script>

  requirejs.config(
  {
    paths:
    {
      // Libraries
      'jquery'          : '{{ page.relative }}js/vendor/jquery-1.10.2',
      'modernizr'         : '{{ page.relative }}js/vendor/modernizr',
      'selectivizr'       : '{{ page.relative }}js/vendor/customized/selectivizr',

      // Custom modules
      'slider'          : '{{ page.relative }}js/modules/Slider'
    },

    shim:
    {
      // Since it's not require-jquery.js
      // we need to shim it.
      'jquery':
      {
        exports: '$'
      },

      'modernizr':
      {
        exports: 'Modernizr'
      }
    }
  });
  // Load common code for all pages
  require(['{{ page.relative }}js/common.js']);
</script>

<script type="text/javascript">
  var sc_project=9664246; 
  var sc_invisible=1; 
  var sc_security="f7bfc514"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript>
  <div class="statcounter">
    <a title="website statistics" href="http://statcounter.com/" target="_blank">
      <img class="statcounter" src="http://c.statcounter.com/9664246/0/f7bfc514/1/" alt="website statistics">
    </a>
  </div>
</noscript>