<script>
	// Add this event listener to prevent mobile safari 
	// from disabling the ::active pseudo class
	document.addEventListener("touchstart", function() {});

	// Check if browser supports touch events
	(('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) ?
		document.querySelector("html").classList.add("touch") :
		document.querySelector("html").classList.add("no-touch");

</script>
<!-- RequireJS 
<script src="../js/require.js"></script>
<script>
  // Load common code for all pages
  require(['../js/common.js'], function()
  {
    // Load page specific code
    require(['../js/{{ page.script }}.js']);
  });
</script>-->
