/* Button Component */

.btn {
    position: relative;
    display: block;
    overflow: hidden;
    padding: $space40 $space40;
    background: $brand-blue;
    box-shadow: 4px 4px 0 black;
    font-size: $font-size-h3;
    font-weight: $bold-font-weight;
    color: white;
    text-align: center;
    white-space: nowrap;
    transform: skew(3deg);
    transition: transform .1s ease-out, box-shadow .1s ease-out;

    &:hover {
        color: white;
        text-decoration: none;
        box-shadow: 8px 8px 0 rgba(0,0,0,.9);
        transform: skew(3deg) translateY(-4px);
    }

    &:active {
        color: white;
        text-decoration: none;
        box-shadow: 0 0 0 transparent;
        transform: skew(3deg) translateY(4px);
        transition: transform .05s ease-out, box-shadow .05s ease-out;
    }

    > * {
        display: block;
        transform: skew(-3deg);
    }

    & + .text--small {
        padding: $space20 0;
        text-align: center;
    }
}
