/* Page Grid Component */

.grid {
  @media(min-width: #{map-get($grid-breakpoints, "md")}) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $space40;
    grid-row-gap: calc(4.7rem + .25vw);
  }

  @media(min-width: $wrapper-max-with) {
  }
}
