/* Header Component */

.header {
    position: relative;
    padding: $space80 0;

    &:after {
        content: " ";
        position: absolute;
        top: 115%;
        width: 100%;
        height: 4px;
        background: $brand-red;
        transform: skew(0, 2deg);
    }
}

.logo {
  // margin: $space50 auto;
  max-width: 5rem;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    grid-column: 4 / 5;
    max-width: 10rem;
  }
}

.nav {
    grid-column: 6 / 11;
    align-self: flex-end;
}

.nav__items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: $space60;

  &:first-child {
    margin-left: $space20;
  }
}

.nav__link {
  padding: $space10;
  // font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
