/* Skew Masked Pic Component */

.pic {
  position: relative;
  display: inline-block;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: -5%;
    height: 110%;
    width: 13%;
    background: white;
    transform: skew(3deg);
  }

  &:before {
   left: -6.5%;
  }

  &:after {
    right: -6.5%;
  }
}
