/* Testimonial Component */

.testimonials {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media(min-width: #{map-get($grid-breakpoints, "md")}) {
      display: grid;
    }
}

.testimonial {
    display: flex;
    align-items: flex-start;
    margin-bottom: calc(4.7rem + .25vw);
}

.testimonial__pic {
    flex: 0 0 15%;
}

.testimonial__quote {
    margin-left: $space50;
    padding: 0 $space50;
    border-left: 4px solid $brand-red;
    transform: skew(3deg);

    > * {
        transform: skew(-3deg);
    }
}
