/* Page Wrapper Component */

$wrapper-max-with: 144rem;

.wrapper {
  margin: 0 auto;
  padding: 0 $space30;
  max-width: $wrapper-max-with;

  @media(min-width: #{map-get($grid-breakpoints, "md")}) {
    padding: 0 5vw;
  }

  @media(min-width: $wrapper-max-with) {
    padding: 0 12rem;
  }
}

.main {
    padding: $space70 0 $space40;
    overflow: hidden;

    @media (min-width: map-get($grid-breakpoints, "md")) {
        padding: $space80 0 $space40;;
    }

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        padding: $space80 0 $space70;;
    }
}
