//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------



//  = GRAYS
//  ---------------------------------------------------------------------------

	$black: 							#292929; 	//  16% white
	$grayVeryDark:						#4d4d4d; 	//  30% white
	$grayDarker:						#585858; 	//  35% white
	$grayDark:							#707070; 	//  44% white
	$gray:								#949494; 	//  58% white
	$grayLight:							#b8b8b8; 	//  72% white
	$grayVeryLight:						#dbdbdb; 	//  86% white
			
	$whiteSmoke:						#f5f5f5;	//	96% white
	$whiteSoft:							#fbfbfb;	//	98% white
	$white: 							#fff; 		// 100% white
			
	$sand:								#FAF8F5;



//  = ACCENT COLORS
//  ---------------------------------------------------------------------------

	$red:								#be2e0b;
	$green:								#9aaa05;
	$blue: 								#314e78;
	$blueLight:							#49B0E3;
	$blueVeryDark:						#3F4349;
	$magenta:							#be0bb1;
	$purple:							#939;
	$cyan:								#6cc;
	$yellow:							#fff2bf;
	$orange:							#ff7d26;
	$orangeLight:						#ff9c59;
	$orangeDark:						#ce6824;
	$gold:								#BB9769;
			
	$primaryAccent:						$orange;
	$secondaryAccent:					$blue;



//  = SCAFFOLDING
//  ---------------------------------------------------------------------------

	$bodyBackground:					$white;
	$textColor:							$grayVeryDark;



//  = LINKS
//  ---------------------------------------------------------------------------

	$linkColor:							$gold;
	$linkColorHover:					darken($linkColor, 8);
	$linkColorVisited:					$orangeDark;
	$linkColorInvisible:				$textColor;	



//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

	$sansFontFamily:        			"freight-sans-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	$serifFontFamily:       			"bree-serif", "Georgia", "Geneva", "Times New Roman", serif;
	$monoFontFamily:        			"droid-sans-mono","Menlo", "Monaco", "Consolas", "Courier New", monospace;
			
	$htmlFontSize:          			62.5%;	
	$htmlLineHeight:        			1;
	$baseLineHeight:					1.2;//px
	$bodyFontSize:          			1.7;//px
	$bodyLineHeight:        			$baseLineHeight * 2;
	$baseFontFamily:        			$sansFontFamily;
	$altFontFamily:         			$serifFontFamily;
			
	$smallFontSize:						$bodyFontSize - 0.2;

	$normalFontWeight:					400;
	$boldFontWeight:					700;

	$headingsFontFamily:    			$serifFontFamily;
	$headingsFontWeight:    			$normalFontWeight;
	$headingsColor:         			inherit;
			
	$h1Size:							3.2;
	$h1LineHeight:						3.6;

	$h2Size:							2.8;
	$h2LineHeight:						3.6;
	
	$h3Size:							2.2;
	$h3LineHeight:						2.4;

	$h4Size:							1.8;
	$h4LineHeight:						2.4;

	$h5Size:							1.8;
	$h5LineHeight:						2.4;

	$h6Size:							1.8;
	$h6LineHeight:						2.4;



//  = BORDERS
//  ---------------------------------------------------------------------------

	$defaultBorder:						0 dashed $grayVeryLight;
	$borderRadius:						.2;//px
	$borderThin:						.1;//px
	$borderMedium:						.2;//px
	$borderThick:						.4;//px
	$borderVeryThick:					$baseLineHeight;



//  = SPACING AND ALIGNMENT
//  ---------------------------------------------------------------------------

	$singleSpace:						$baseLineHeight;
	$doubleSpace:						$singleSpace * 2;
	$quadrupleSpace:					$doubleSpace * 2;
	$touchSize:							$singleSpace * 3;









