//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1000px,
  // Extra large screen / wide desktop
  xl: 1268px,
  // Extra large screen / wide desktop
  xxl: 1920px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  md: 640px,
  lg: 922px,
  xl: 1204px
);


// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
  "modal":100
);


// Colors
//
// Grayscale and brand colors.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-red:                 #fc4e4e;
$brand-blue:                #3F6AEB;

// Links
//
// Style anchor elements.

$link-color:                 $brand-red;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 5%);
$link-hover-decoration:      underline;

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #fff;
$body-color:                 #0f0f0f;

// Spacing
//
// Different spaces for all the things

$space10:                    .4rem;
$space20:                    $space10 * 2;
$space30:                    $space10 * 3;
$space40:                    $space10 * 4;
$space50:                    $space10 * 6;
$space60:                    $space50 * 2;
$space70:                    $space50 * 3;
$space80:                    $space50 * 3;



// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "proxima-nova", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif:          "freight-sans-condensed-pro", Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base:           $font-family-sans-serif;

$font-size-root:             62.5%;
$font-size-base:             calc(1.5rem + .3125vw);
$font-size-small:            .707em;
$line-height:                1.5;

$font-size-h1:               2.441em;
$font-size-h2:               1.953em;
$font-size-h3:               1.563em;
$font-size-h4:               1.25em;


// Misc Shared
//
// common shared styles

$border-radius:               .25rem;      //4px


// Components
//
// Variables related to specific elements
